@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This resource is maintened by Airbus Group CERT. For any information, you can contact us at cert@airbus.com.</p>
<p>Learn more on <a href="https://github.com/airbus-cert/vbSparkle">git project</a>.</p>
